allow system_server mdm_device:chr_file r_file_perms;

allow system_server sensors_data_file:dir r_dir_perms;

# for Settings' access to VibratorHW
#allow system_server vibeamp_sysfs:file rw_file_perms;

allow system_server init:process setsched;
allow system_server init:unix_dgram_socket write;
allow system_server init:unix_stream_socket { read write };
allow system_server init_tmpfs:file read;

allow system_server init:keystore_key exist;

allow system_server sysfs_usb_supply:dir search;
allow system_server sysfs_usb_supply:file { open read getattr };
