allow vold persist_file:file { read write getattr open };
allow vold sensors_persist_file:dir { open read ioctl };
allow vold persist_drm_file:dir { open read ioctl };
